button {
  outline: none;
  user-select: none;
}

.btn-full-size {
  display: block;
  text-align: center;
  width: 100%;
}
.btn-close--landing {
  fill: $amethyst-smoke;
  border: 0;
  background: transparent;
  width: 3rem;
  height: 3rem;
  @include font-size("lg");
}
$landing-btn-variants: (
  "cta": $landing-secondary-gradient,
  "primary": $landing-primary-gradient,
);

@mixin landing-btn($bg-image) {
  padding: space(2);
  color: $landing-font-light;
  font-family: $primary-font;
  font-weight: $bold;
  background-image: $bg-image;
  border: none;
  border-radius: $border-radius-md;
  transition: box-shadow 0.2s ease-in;
  &:focus {
    outline: $plum;
    box-shadow: 0 0 0 2px $white;
  }
}

@each $key, $val in $landing-btn-variants {
  .btn--landing-#{$key} {
    @include landing-btn($val);
    &:disabled {
      filter: grayscale(60%);
    }
  }
}

.btn--landing-hollow {
  background: $landing-hollow-fill;
  padding: space(2);
  color: $landing-primary;
  font-family: $primary-font;
  font-weight: $bold;
  border: 1px solid $landing-primary;
  border-radius: $border-radius-xs;
  transition: box-shadow 0.2s ease-in;
}

.btn-game-hollow {
  min-width: 6rem;
  padding: space(1) space(2);
  color: $game-font-light;
  font-weight: $bold;
  border: 2px solid $amethyst-smoke;
  border-radius: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  min-width: 6rem;
}

.btn-game--primary-solid {
  color: $game-font-light;
  font-family: $primary-font;
  font-weight: $bold;
  background-color: $game-primary-solid;
  border: none;
  border-radius: $border-radius-md;
  padding: space(2);
  &:focus {
    border: 2px solid $white;
  }
}
.btn-game--secondary-solid {
  color: $game-font-light;
  background-color: $game-secondary-solid;
  font-family: $primary-font;
  font-weight: $bold;
  border: none;
  border-radius: $border-radius-md;
  padding: space(2);
}
.btn-game-transparent {
  color: $game-font-light;
  background-color: transparent;
  font-family: $primary-font;
  font-weight: $bold;
  border: none;
  padding: space(2);
  &:focus {
    text-decoration: underline;
  }
}

.btn--game-back {
  color: $game-font-light;
  background: transparent;
  border: none;
}
