.form--landing {
  text-align: left;
  label {
    @include font-size("xs");
    color: $landing-font-dark;
    font-weight: $semibold;
    margin-bottom: space(1);
  }
  input {
    border: none;
    margin-bottom: space(3);
    padding: space(2);
    height: 3rem;
    width: 100%;
    background: $landing-hollow-fill;
    border-radius: $border-radius-md;
    transition: all 0.3s ease-in;
    &:focus {
      outline: none;
      border: 1px solid $landing-primary;
    }
  }
}
