// Margins
$spacings: (
  xs: 0.5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 2.5rem,
  xxl: 3,
);

$base-spacing: 0.5rem;

@include padding() {
}

@mixin generate($prefix, $property) {
  $steps: (1, 2, 3, 4, 5, 6);
  $base-spacing: 1rem;
  @for $i from 1 through length($steps) {
    $step: nth($step, $i);
    .#{$prefix}-#{$i - 1} {
      #{$property}: $base-spacing * $step;
    }
  }
}

// Bootstrap-style utility classes for margin and paddings

@include generate("ml", "margin-left");
@include generate("mr", "margin-right");
@include generate("mt", "margin-top");
@include generate("mb", "margin-bottom");

@include generate("pl", "padding-left");
@include generate("pr", "padding-right");
@include generate("pt", "padding-top");
@include generate("pb", "padding-bottom");
