/* Project specific resets */
* {
  box-sizing: border-box;
}
/* CSS variables */
:root {
 --color-purple: #5841ab;
 --color-lavender:  #eae7f4;
 --color-yellow: #fff3ca;
 --color-steel: #1f1d21;
 --color-white: #fff;
 --border-radius: 7px;
 --box-shadow: 0 2px 40px rgba(14,30,37,.16);
 --font-display: Nunito, Helvetica, Arial, sans-serif;
 --color-focus-ring: var(--color-purple);
}
a, .toggle {
  cursor: pointer;
}

/* underline and blue styles from bootstrap, remove when bootstrap is removed */
a:hover {
  text-decoration: none;
}
*:focus {
  outline-color: var(--color-focus-ring);
}

input {
  border: none;
  padding: 12px;
  height: 48px;
  background-color: var(--color-lavender);
  border-radius: var(--border-radius);
  transition: all .15s ease;
}

/* body and html styles */
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  
/* Page styles */
.page-title {
  min-height: 2.4em;
  padding: 0 1.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-content {
  position: relative;
  padding: 2em 1.25em;
  min-height: calc(100vh - 11em);

}



@media (min-width: 65em) {
    .page-title {
      width: 65em;
      margin: 0 auto;
      padding: 0;
    }
    .page-content {
      padding: 2em 1.25em;
    }
    .page__content-container {
      width: 65em;
      margin: 0 auto;
      padding: 0;
    }
}

/* nav styles for both header and footer navigation */
nav a.nav__link {
    font-weight: 600;
    color: hsl(253, 45%, 46%);
}
nav a.nav__link:hover {
    text-decoration: none;
}
@media (min-width: 65em) {
    nav a.nav__link {
        font-size: 1.25em;
    }
}


/* Button styles */
button {
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: var(--border-radius);
}
/* variant: primary */
button.primary {
  color: var(--color-white);
  background-image: linear-gradient(to bottom, hsl(265, 56%, 56%), hsl(257, 55%, 45%));
}
/* variant: hollow */
button.hollow {
  border: 1px solid var(--color-purple);
  color: var(--color-purple);
}
/* variant: fail */
button.fail {
  color: var(--color-white);
  background-image: linear-gradient(to top, #d92929, #e82828);
}
/* variant: pass */
button.pass {
  color: var(--color-white);
  background-image: linear-gradient(to top, #4db22f, #5acc22);
}

/* background gradients */
@media (max-width: 30em) {
  .grey-gradient-bg.mobile-no-bg {
    background: white;
  }
}
.grey-gradient-bg {
    background-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 98%),
      hsl(0, 0%, 95%)
    );
  }
  
/* The ribbons */
.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Different positions */

.corner-ribbon.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white {
  background: #f0f0f0;
  color: #555;
}
.corner-ribbon.black {
  background: #333;
}
.corner-ribbon.grey {
  background: #999;
}
.corner-ribbon.blue {
  background: #007aff;
  z-index: 99;
}
.corner-ribbon.green {
  background: #2c7;
}
.corner-ribbon.turquoise {
  background: #1b9;
}
.corner-ribbon.purple {
  background: #95b;
}
.corner-ribbon.red {
  background: #e43;
}
.corner-ribbon.orange {
  background: #e82;
}
.corner-ribbon.yellow {
  background: #ec0;
}

.dashed-border {
  position: relative;
}
.dashed-border:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  border: 0;
  background-repeat: repeat-x;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    hsl(253, 44%, 47%),
    hsl(253, 44%, 47%) 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 15px 1px;
}

